@page
@inject Remotely.Server.Services.ApplicationConfig AppConfig
@model Remotely.Server.Pages.RemoteControlModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9" />
    <link rel="icon" href="~/favicon.ico" />
    <title>AvP QuickSupport</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link href="~/manifest-rc.json" rel="manifest" />
    <meta name="description" content="Remote access tools designed to get things done quickly." />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*@if (AppConfig.Theme.ToLower() == "light")
    {
        <link href="~/css/remote-control-light.css" rel="stylesheet" asp-append-version="true" />
    }
    else
    {*@
        <link href="~/css/remote-control-dark.css" rel="stylesheet" asp-append-version="true" />
@*    }*@
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/signalr/signalr.js"></script>
        <script src="~/lib/signalr/msgpack5.js"></script>
        <script src="~/lib/signalr/signalr-protocol-msgpack.js"></script>
        <script src="~/lib/msgpack/msgpack.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/signalr/signalr.min.js"></script>
        <script src="~/lib/signalr/msgpack5.min.js"></script>
        <script src="~/lib/signalr/signalr-protocol-msgpack.min.js"></script>
        <script src="~/lib/msgpack/msgpack.min.js"></script>
    </environment>
</head>
<body>
    <div class="remotely-header" title="Remotely">
        <div class="logo-title">
            AvP QuickSupport
        </div>
    </div>

    <button id="menuButton">
        <i class="fas fa-chevron-circle-right"></i>
    </button>

    <div id="menuFrame">
        <div class="menu-options-header">
            Aktionen
        </div>

        <div>
            <button id="clipboardTransferButton" class="option-button">Zwischenablage  <i class="fas fa-clipboard"></i></button>
            <button id="inviteButton" class="option-button">Weitere einladen  <i class="fas fa-user-plus"></i></button>
            <button id="audioButton" class="option-button">Audio <i class="fas fa-volume-up"></i></button>
            <button id="fileTransferButton" class="option-button">Dateiübertragung <i class="fas fa-file-upload"></i></button>
            <button id="ctrlAltDelButton" class="option-button">Strg+Alt+Entf <i class="fas fa-sign-in-alt"></i></button>
            <button id="keyboardButton" hidden="hidden" class="option-button">Tastatur <i class="fas fa-keyboard"></i></button>
            <button id="disconnectButton" class="option-button">Trennen <i class="fas fa-window-close"></i></button>
        </div>


        <div class="menu-options-header">
            Ansicht
        </div>

        <div>
            <button id="changeScreenButton" class="option-button">Monitore <i class="fas fa-desktop"></i></button>
            <button id="fitToScreenButton" class="toggled option-button">Zoom <i class="fas fa-expand"></i></button>
            <button id="qualityButton" class="option-button">Qualität <i class="far fa-image"></i></button>
        </div>

    </div>

    <div id="screenSelectBar" class="horizontal-button-bar">

    </div>

    <div id="qualityBar" class="horizontal-button-bar">
        <div style="color:white; font-size:12px">
            Bild Qualität
        </div>
        <div>
            <input id="qualityRangeInput" value="50" max="100" class="form-control-range" type="range" />
            <div style="color:white; font-size:12px; text-align: left">
                <input id="autoAdjustQualityCheckBox" type="checkbox" checked />
                <label>Automatisch anpassen</label>
            </div>
        </div>
    </div>

    <div id="clipboardTransferBar" class="horizontal-button-bar">
        <div style="color:white; font-size:12px">
            Geteilte Zwischenablage
        </div>
        <textarea id="clipboardTransferTextArea"></textarea>
        <div style="color:white; font-size:12px; text-align: left">
            <input id="clipboardTransferTypeCheckbox" type="checkbox" />
            <label>Eingabe tippen</label>
        </div>
    </div>

    <div id="connectBox">
        <h3>Verbindung herstellen:</h3>
        <div class="form-block">
            <label>Ihr Name (wird dem Anwender angezeigt): </label>
            <br />
            <input id="nameInput" type="text" placeholder="(z.B.: avp-mmustermann)" pattern="(avp-)[a-zA-Z]+" />
        </div>
        <div class="form-block">
            <label>Sitzungsnummer: </label>
            <br />
            <input id="sessionIDInput" type="text" pattern="[0-9 ]+" />
        </div>
        <div class="right-aligned">
            <button id="connectButton">Verbinden</button>
        </div>
        <div id="statusMessage" class="status-message">

        </div>
    </div>


    <div class="center-aligned">
        <canvas id="screenViewer" hidden="hidden"></canvas>
        <input id="fileTransferInput" hidden="hidden" type="file" />
        <textarea id="touchKeyboardTextArea" value=" #"> #</textarea>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            <hr />
            <div class="footer-wrapper">
                <p>&copy; @DateTime.Now.Year - AvP IT GmbH</p>
                <p class="text-right">
                    <a href="https://www.avp.de/impressum.html" target="_blank">Impressum</a> - <a href="https://www.avp.de/datenschutz.html" target="_blank">Datenschutzerklärung</a>
                </p>
            </div>
        </div>
    </footer>

    <script type="module" src="~/scripts/RemoteControl/Main.js">
    </script>
    <script>
        window.onload = () => {
            RemoteControl.Init();
        }
    </script>
</body>
</html>
